
:root{

--color-primary-0:#07A507;	/* Main Primary color */
--color-primary-1:#47CC47;
--color-primary-2:#21C121;
--color-primary-3:#008700;
--color-primary-4:#006600;

--color-secondary-1-0: #086C7F;	/* Main Secondary color (1) */
--color-secondary-1-1: #3A8E9D;
--color-secondary-1-2: #1D8194;
--color-secondary-1-3: #025868;
--color-secondary-1-4: #01424E;

--color-secondary-2-0: #CE6909;	/* Main Secondary color (2) */
--color-secondary-2-1: #FFAA59;
--color-secondary-2-2: #F08B2B;
--color-secondary-2-3: #A85200;
--color-secondary-2-4: #7F3E00;

--color-complement-0: #CE0909;	/* Main Complement color */
--color-complement-1: #FF5959;
--color-complement-2: #F02B2B;
--color-complement-3: #A80000;
--color-complement-4: #7F0000;


}

header {
display: flex;
justify-content: space-between;
align-items: center;

}

.logo{
    width: 100px;
}


body{
    background-color: var(--color-secondary-2-1);
    height: 100vh;
    width: 90vw;
}